@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; /*Ex.: se obj tem larg=200 e coloca uma margin de 20 de cada lado, 
  ele não vai para 240, vai manter nos 200 o total, e o obj vai ter a largura de 160*/
  font-family: 'Poppins', sans-serif;
}


input, button, textarea, select{
  font: 600 24px 'Poppins', sans-serif;
  text-align: center;
  transition: filter 0.2s;
}
input:hover{
  filter: brightness(95%);
}



.header{
  background-color: #455A64;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 4% 0 6%;
  font-size: 18px;
  color: #B5B5B5;
  box-shadow: 0 3px 1px rgba(0,0,0,0.6);
  z-index: 2;
}
.header img{
  height: 70px;
}
.header div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header div span{
  margin-left: 60px;
}

.userName{
  width: 180px;
}

.logOutLink{
  cursor: pointer;
  transition: transform 0.1s;
}
.logOutLink:hover{
  transform: scale(1.3);
}


.header .button{
  background-color: transparent;
  border-color: #D8D8D8;
  border-style: solid;
  border-width: 2px;
  margin: 0;
  height: 45px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.button{
  cursor: pointer;
  width: 100%;
  height: 70px;
  border: 0;
  border-radius: 8px;
  color: #FFF;
  font-weight: 700;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  transition: filter 0.2s;
}

.button:hover{
  filter: brightness(80%);
}

.link{
  display: flex;
  align-items: center;
  margin-top: 4%;
  color: #41414d;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.2s;
}

.link svg{
  margin-right: 8px;
}

.link:hover{
  opacity: 0.8;
  cursor: pointer;
}

select, input, textarea{
  color: #6B6B6B;
  border: none;
  border-radius: 8px;
  background-color: #D8D8D8;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #EEE;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Modal{
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.Modals-Content{
  background-color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  
}
.Modals-Content header{
  background-color: #4B2164;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 3%;
}


.Modals-Content header img{
  height: 70px;
}

.Modals-Content main{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  padding: 3% 12%;
  background-color: transparent;
}

.Modals-Content main *{
  margin-top: 30px;
}
.Modals-Content main textarea{
  min-height: 100px;
  line-height: 24px;
  resize: vertical;
  padding: 10px;
}
.Modals-Content main .color-content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #B5B5B5;
  font-size: 20px;
}
.Modals-Content main .color-content *{
  margin: 0 5%;
}

.Modals-Content form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
}
.Modals-Content form button{
  margin-bottom: 20px;
  height: 50px;
  width: 40%;
}

.colorPickerBtn{
  height: 30px;
  width: 30px;
  border-width: 2px ;
  border-color:  #222;
  border-radius: 8px;
}

.cover{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.popover{
  position: absolute;
  z-index: 2;
  margin: 0;
  right: 180px;
  bottom: 240px;
  background-color: black;
  
  
}
.colorPicker{
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  background-color: gray;
}